* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: #000;
  color: #fff;
}

.app {
  position: relative;
}

.loadingBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
  background: #ff6030;
  z-index: 200;
  pointer-events: none;
}
